// home.less
// -----------------------------------------------------------------

// Custom Fonts
@import "../globals/fonts.less";

// Bootstrap UI Framework
@import "../bootstrap/bootstrap.less";

// Wordpress Core Styles
@import "../globals/wordpress-core.less";

// Custom Variables
@import "../globals/variables.less";

// Z-index scale
@import "../globals/z-index.less";

// Colors
@import "../globals/colors.less";

// Buttons
@import "../globals/buttons.less";

// Site Header
@import "../globals/site-header.less";

// Site Footer
@import "../globals/site-footer.less";

// Patterns
@import "../globals/patterns.less";

body {
  position: relative;
}

.hero {
  background: @gray-lighter;
  height: 600px;
  .vertical-center-parent();
  background-size: cover;
  background-position: 50% 50%;
  .hero-content {
    .vertical-center();
    text-align: center;
    .hero-title {
      font-size: 60px;
      font-weight: 300;
      font-family: @font-family-sans-serif;
      margin: 0;
    }
  }
}

.section-main {
  color: #fff;
  .hero-main {
    height: 100vh;
    background-image: url('../../img/hero-bg-main.png');
    .hero-content {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      text-align: left;
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}


// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}